table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

ul {
    list-style: none;
}

.card, .list-group-item {
    border: none;
}

.card-body {
    padding-right: 0;
    padding-left: 0;
}

.list-group-item {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    line-height: 1;
}

.form-control {
    height: 38px;
}

.roast {
    color: #848487;
}
 .coffee_display {
     height: 100%!important;
 }
.logo {
    height: 120px;
    width: 120px;
}
.jumbotron {
    background: url(./images/coffee.png) no-repeat;
    background-size: cover;
}
.bg-light {
    opacity: 80%;
}

#navbar-nav {
    color: #0A5E5B;
}
.submit {
    background-color: #0d673a;
}
